@font-face {
  font-family: Rubix;
  src: url(https://fonts.google.com/specimen/Rubik?query=Rubik);
}

body {
  margin: 0;
  font-family: Rubix, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303841;
}

code {
  font-family: Rubix, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}